@import '../../variables';

.react-flow__node.selected {
  .square-node.generic-node .node-container {
    box-shadow: 0 0 10px $lightViolet;
  }
}

.generic-node {
  .node-container {
    border: solid 2px $lightViolet;
    color: $lightViolet;
  }

  &__title {
    color: $lightViolet;
  }

  &__left,
  &__right {
    .port {
      box-shadow: 0 0 10px $lightViolet;

      &:hover,
      &.selected {
        background: $lightViolet;
      }
    }
  }
}
