@import '../../variables';

.react-flow__node.selected {
  .square-node.before-trigger-node .node-container {
    box-shadow: 0 0 10px $teal;
  }
}

.before-trigger-node {
  .node-container {
    border: solid 2px $teal;
    color: $teal;
  }

  &__title {
    color: $teal;
  }

  &__left,
  &__right {
    .port {
      box-shadow: 0 0 10px $teal;

      &:hover,
      &.selected {
        background: $teal;
      }
    }
  }
}
