services:
	moduleManager:
		setup:
			- addModule(Crm\ScenariosModule\ScenariosModule())

	- Crm\ScenariosModule\Api\ScenariosCreateApiHandler
	- Crm\ScenariosModule\Api\ScenariosInfoApiHandler
	- Crm\ScenariosModule\Api\ScenariosElementApiHandler

	- Crm\ScenariosModule\Events\UserCreatedHandler
	- Crm\ScenariosModule\Events\SegmentCheckEventHandler

	- Crm\ScenariosModule\Engine\Dispatcher
	- Crm\ScenariosModule\Engine\Engine
	- Crm\ScenariosModule\Engine\GraphConfiguration

	- Crm\ScenariosModule\Repository\JobsRepository
	- Crm\ScenariosModule\Repository\ElementsRepository
	- Crm\ScenariosModule\Repository\ElementElementsRepository
	- Crm\ScenariosModule\Repository\EventsRepository
	- Crm\ScenariosModule\Repository\ScenariosRepository
	- Crm\ScenariosModule\Repository\TriggersRepository
	- Crm\ScenariosModule\Repository\TriggerElementsRepository
