services:
	moduleManager:
		setup:
			- addModule(Crm\ScenariosModule\ScenariosModule())

	scenariosLogger:
			class: Monolog\Logger('scenarios-logger')
			setup:
				- pushHandler(Monolog\Handler\StreamHandler("%appDir%/../log/scenarios.log"))
				- pushHandler(Monolog\Handler\ErrorLogHandler())

	scenariosEngine:
			class: Crm\ScenariosModule\Engine\Engine(@scenariosLogger)
			setup:
				- setRestartInterface(@hermesRestart)

	elementsRepository: Crm\ScenariosModule\Repository\ElementsRepository
	jobsRepository: Crm\ScenariosModule\Repository\JobsRepository
	elementStatsRepository: Crm\ScenariosModule\Repository\ElementStatsRepository
	elementElementsRepository: Crm\ScenariosModule\Repository\ElementElementsRepository
	scenariosRepository: Crm\ScenariosModule\Repository\ScenariosRepository
	triggersRepository: Crm\ScenariosModule\Repository\TriggersRepository
	triggerStatsRepository: Crm\ScenariosModule\Repository\TriggerStatsRepository
	triggerElementsRepository: Crm\ScenariosModule\Repository\TriggerElementsRepository
	graphConfiguration: Crm\ScenariosModule\Engine\GraphConfiguration
	beforeEventGenerator: Crm\ScenariosModule\Events\BeforeEventGenerator
	eventGeneratorCommand: Crm\ScenariosModule\Commands\EventGeneratorCommand
	generatedEventsRepository: Crm\ScenariosModule\Repository\GeneratedEventsRepository
	subscriptionEndsEventGenerator: Crm\ScenariosModule\Events\EventGenerators\SubscriptionEndsEventGenerator

	- Crm\ScenariosModule\Api\ScenariosCreateApiHandler
	- Crm\ScenariosModule\Api\ScenariosInfoApiHandler
	- Crm\ScenariosModule\Api\ScenariosElementApiHandler
	- Crm\ScenariosModule\Api\ScenariosTriggerApiHandler
	- Crm\ScenariosModule\Api\ScenariosCriteriaHandler

	- Crm\ScenariosModule\Events\FinishWaitEventHandler
	- Crm\ScenariosModule\Events\SegmentCheckEventHandler
	- Crm\ScenariosModule\Events\ConditionCheckEventHandler
	- Crm\ScenariosModule\Events\OnboardingGoalsCheckEventHandler
	- Crm\ScenariosModule\Events\SendEmailEventHandler
	- Crm\ScenariosModule\Events\ShowBannerEventHandler

	- Crm\ScenariosModule\Events\TriggerHandlers\TestUserHandler
	- Crm\ScenariosModule\Events\TriggerHandlers\NewSubscriptionHandler
	- Crm\ScenariosModule\Events\TriggerHandlers\SubscriptionEndsHandler
	- Crm\ScenariosModule\Events\TriggerHandlers\RecurrentPaymentRenewedHandler
	- Crm\ScenariosModule\Events\TriggerHandlers\UserCreatedHandler
	- Crm\ScenariosModule\Events\TriggerHandlers\NewPaymentHandler
	- Crm\ScenariosModule\Events\TriggerHandlers\PaymentStatusChangeHandler
	- Crm\ScenariosModule\Events\TriggerHandlers\RecurrentPaymentStateChangedHandler

	- Crm\ScenariosModule\Commands\ScenariosWorkerCommand
	- Crm\ScenariosModule\Commands\TestUserCommand

	- Crm\ScenariosModule\Engine\Dispatcher

	- Crm\ScenariosModule\Presenters\ScenariosAdminPresenter

	- Crm\ScenariosModule\Scenarios\HasPaymentCriteria
