@import '../elements/index';

body {
  background-color: #fafafa;
}

.docs-preview-wrapper {
  background: rgb(60, 60, 60);
  border-radius: 10px;
  overflow: hidden;
  padding: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.react-flow {
  background: rgba(0, 0, 0, 0.05);
}

.diagram-layer {
  position: relative;
  top: 64px;
  height: calc(100vh - 64px);
}

.body {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  min-height: 100%;

  .tray-item {
    cursor: move;
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;
  }

  .tray-item:active {
    cursor: grabbing;
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;
  }
}

.scenario-name {
  width: 100%;
  display: inline-block;

  &:hover {
    cursor: pointer;
  }
}
.changing-name-input {
  font-size: 20px;
  width: 100%;
  border: 0;
  padding: 2px 5px;
}

.circular-loading {
  margin-right: 15px;
  position: relative;
  top: 7px;
}

.toast-success {
  background-color: #5d9d52 !important;
}

.toast-error {
  background-color: #c33e37 !important;
}

.toast-info {
  background-color: #3477cb !important;
}

.toast-warning {
  background-color: #f3a33a !important;
}

.toast__icon {
  font-size: 20px;
}

.toast__icon-variant {
  opacity: 0.9;
  margin-right: 10px;
}

.toast__message {
  display: flex;
  align-items: center;
}

.node-tooltip-loader {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.statistic-badge-container-bottom {
  width: 100%;
  display: flex;
  justify-content: center;
}

.statistic-badge-right {
  position: absolute;
  top: 15px;
  left: 60px;
}

.statistic-badge-bottom {
  position: absolute;
  top: 25px;
}

.react-flow__edge {
  @keyframes dash {
    from {
      stroke-dashoffset: 24;
    }
    to {
      stroke-dashoffset: 0;
    }
  }

  path {
    fill: none;
    pointer-events: all;
  }

  &.selected {

    path {
      stroke: $lightBlue !important;
      stroke-dasharray: 10, 2;
      animation: dash 1s linear infinite;
    }
  }

  &__label {
    pointer-events: none;

    > div {
      display: inline-block;
      position: absolute;
    }
  }

  &__point {
    fill: rgba(white, 0.5);
  }

  &--point-selected {
    fill: rgb(0, 192, 255);
  }
}
