<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no"/>
    <title>Scenario Builder</title>
    <script>
        window.Scenario = {
            config: {
                AUTH_TOKEN: {$apiToken},
                CRM_HOST: {$crmHost},
                SCENARIO_ID: {if $scenario}{$scenario->id}{else}null{/if},
                BANNER_ENABLED: {$bannerEnabled},
                PUSH_NOTIFICATION_ENABLED: {$pushNotificationEnabled}
            }
        };
    </script>
    <script type="module" crossorigin src="/layouts/admin/scenario-builder/index.js"></script>
    <link rel="stylesheet" crossorigin href="/layouts/admin/scenario-builder/index.css">
</head>

<body>
<div id="root" style="max-height: 80%"></div>

<script src="/layouts/default/js/iframeResizer.contentWindow.min.js"></script>

</body>
</html>
