<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no"/>
    <title>remp-scenario</title>
    <link href="/layouts/admin/scenariobuilder/css/main.3c700155.chunk.css" rel="stylesheet">
</head>

{var $cancelPath = '/segment/stored-segments/'}

<body>
<div id="root"></div>
<script>
    window.Scenario = {
        config: {
            AUTH_TOKEN: {$apiToken},
            API_HOST: {$apiHost},
            SCENARIO_ID: {if $scenario}{$scenario->id}{else}null{/if}
        }
    };
    window.Segments = {
        config: {
            AUTH_TOKEN: {$segmentAuth},
            API_HOST: {$crmHost},
            CANCEL_PATH: {$cancelPath},
            SEGMENT_ID: null,
            TIME_ZONE: {date_default_timezone_get()}
        }
    };
</script>
<script src="/layouts/admin/scenariobuilder/js/runtime~main.229c360f.js"></script>
<script src="/layouts/admin/scenariobuilder/js/1.7e1e4d0a.chunk.js"></script>
<script src="/layouts/admin/scenariobuilder/js/main.19175bc7.chunk.js"></script>
</body>
</html>












