<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no"/>
    <title>Scenario Builder</title>
    <link href="/layouts/admin/scenariobuilder/css/2.e52c3dfe.chunk.css" rel="stylesheet">
    <link href="/layouts/admin/scenariobuilder/css/main.121168d7.chunk.css" rel="stylesheet">
</head>

<body>
<div id="root" style="max-height: 80%"></div>

<script src="/layouts/default/js/iframeResizer.contentWindow.min.js"></script>

<script>
    window.Scenario = {
        config: {
            AUTH_TOKEN: {$apiToken},
            CRM_HOST: {$crmHost},
            SCENARIO_ID: {if $scenario}{$scenario->id}{else}null{/if},
            BANNER_ENABLED: {$bannerEnabled},
            PUSH_NOTIFICATION_ENABLED: {$pushNotificationEnabled}
        }
    };
</script>
<script src="/layouts/admin/scenariobuilder/js/runtime-main.5d99378f.js"></script>
<script src="/layouts/admin/scenariobuilder/js/2.3a57bff7.chunk.js"></script>
<script src="/layouts/admin/scenariobuilder/js/main.04011c2b.chunk.js"></script>
</body>
</html>
