@import '../../variables';

.react-flow__node.selected {
  .diamond-node.segment-node .node-container {
    box-shadow: 0 0 10px $lightRed;
  }
}

.segment-node {
  .node-container {
    border: solid 2px $lightRed;
    color: $lightRed;
  }

  &__title {
    color: $lightRed;
  }

  &__left,
  &__right,
  &__bottom {
    .port {
      box-shadow: 0 0 10px $lightRed;

      &:hover,
      &.selected {
        background: $lightRed;
      }
    }
  }
}

@import url(https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons);
