admin:
	scenarios:
		default:
			title: Scénáře
			new: Nový scénář
		messages:
			scenario_not_found: Vybraný scénář neexistuje
		edit:
			title: Editace scénáře
		new:
			title: Nový scénář
data:
	fields:
		name: Jméno
		enabled: Povolen
		created_at: Vytvořen
		modified_at: Upraven