admin:
	scenarios:
		default:
			title: Scenáře
			new: Nový scenář
		messages:
			scenario_not_found: Vybraný scénář neexistuje
		edit:
			title: Edit scenario
			back: Back
		new:
			title: New scenario
			back: Back
data:
	fields:
		name: Jméno
		enabled: Povolen
		created_at: Vytvořen
		modified_at: Upraven