admin:
	scenarios:
		default:
			title: Scenarios
			new: New scenario
		messages:
			scenario_not_found: Selected scenario doesn't exist
		edit:
			title: Edit scenario
			back: Back
		new:
			title: New scenario
			back: Back
data:
	fields:
		name: Name
		enabled: Enabled
		created_at: Created at
		modified_at: Modified at