admin:
	scenarios:
		default:
			title: Scenáre
			new: Nový scenár
		messages:
			scenario_not_found: Vybraný scenár neexistuje
		edit:
			title: Edit scenario
			back: Back
		new:
			title: New scenario
			back: Back
data:
	fields:
		name: Meno
		enabled: Povolený
		created_at: Vytvorený
		modified_at: Upravený