admin:
	scenarios:
		default:
			title: Scenarios
			new: New scenario
			enabled: Enabled
			disabled: Disabled
			enable: Enable
			disable: Disable
		messages:
			scenario_not_found: Selected scenario doesn't exist
			scenario_enabled: "Scenario <em>%name%</em> was enabled."
			scenario_disabled: "Scenario <em>%name%</em> was disabled."
		edit:
			title: Edit scenario
		new:
			title: New scenario
data:
	fields:
		name: Name
		enabled: Enabled
		created_at: Created at
		modified_at: Modified at