@import '../../variables';

.react-flow__node.selected {
  .round-node.wait-node .node-container {
    box-shadow: 0 0 10px $lightOrange;
  }
}

.wait-node {
  .node-container {
    border: solid 2px $lightOrange;
    color: $lightOrange;
  }

  &__title {
    color: $lightOrange;
  }

  &__left,
  &__right {
    .port {
      box-shadow: 0 0 10px $lightOrange;

      &:hover,
      &.selected {
        background: $lightOrange;
      }
    }
  }
}
